<head>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,700,800' rel='stylesheet' type='text/css'>


<style>
  .page-header{
    background: url('.../images/header.jpg') no-repeat center center;
    width: 100%;
  }

  .headertext{
    text-align: center;
  }
  body{
    background-color: #31353D;
  }

h1 {
  font-family: 'Raleway', 'Century Gothic', 'Franklin Gothic', Arial, sans-serif;
  font-size: 35px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.3999996185303px;
  color: rgb(238,239,247);
}
h2 {
  font-family: 'Raleway', 'Century Gothic', 'Franklin Gothic', Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.3999996185303px;
  color: rgb(238,239,247);
}
h3 {
  font-family: 'Raleway', 'Century Gothic', 'Franklin Gothic', Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.3999996185303px;
  color: rgb(238,239,247);
}
h4{
  font-family: 'Raleway 400', 'Century Gothic', 'Franklin Gothic', Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.3999996185303px;
  color: rgb(238,239,247);
  margin-top: -2px;
  margin-left: 10px;
  margin-bottom: 0px;
}
p {
  font-family: Helvetica, 'Century Gothic', 'Franklin Gothic', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  color: rgb(238,239,247);
}
blockquote {
  font-family: 'Raleway', 'Century Gothic', 'Franklin Gothic', Arial, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
  color: rgb(238,239,247);
}
pre {
  font-family: 'Raleway', 'Century Gothic', 'Franklin Gothic', Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714282989502px;
  color: rgb(238,239,247);
}
ul{
  margin-top: 5px;
}
li {
  font-family: 'Raleway', 'Century Gothic', 'Franklin Gothic', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  color: rgb(238,239,247);
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
#cssmenu {
  background: rgb(68,88,120);
  width: auto;
}
#cssmenu ul {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  color: rgb(238,239,247);
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Raleway', 'Century Gothic', 'Franklin Gothic', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: rgb(146,205,207);
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: rgb(146,205,207);
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: rgb(146,205,207);
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 600px) {
  .headerpage{
    background-size: 600px;
  }
  #cssmenu ul li {
    float: none;
    display: block;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(238,239,247);
  }
  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border: 0;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    display: none;
  }
  #wrap #right_col #my-image{
    width: 0%;
  }
  #wrap #right_col{
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  #wrap #left_col{
    width: 100%;
    padding: 0px;
  }
  .clickable-embed iframe{
    width: 0%;
    height: 0%;
  }
}

.clickable-embed{
  margin-left: auto;
  margin-right: auto;
  width: 456px;
}

#wrap {
  margin-right: auto;
  margin-left: auto;
  width:90%;
  max-width: 710px;
}
#left_col {
  padding: 3px;
  float:left;
  width:60%;
  max-width: 400px;
}
#right_col {
  float:right;
  width:37%;
  max-width: 300px;
}

.section-header{
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  max-width: 750px;
  background: rgb(68,88,120);

}

.section-header h2{
  font-family: 'Raleway', 'Century Gothic', 'Franklin Gothic', Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.3999996185303px;
  color: rgb(238,239,247);
  margin-top: 5px;
  margin-bottom: 5px;
}

.section-container{
  padding-left: 5px;
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 2px;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  max-width: 600px;
  border-color: rgb(68,88,120);
}
.section-container h3{
  margin-top: 5px;
  margin-bottom: 5px;
  color: rgb(146,205,207);
}

.quote h1{
  padding: 10px;
  line-height: 40px;
  text-align: center;
  color: rgb(146,205,207);
}

.iconline{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  width: 90%;
  max-width: 750px;
  background: rgb(68,88,120);
}
.iconline img{
  padding-left: 10px;
  padding-bottom: 3px;
  padding-right: 10px;
  padding-top: 3px;
}

.iconline h1{
  font-family: 'Raleway', 'Century Gothic', 'Franklin Gothic', Arial, sans-serif;
  font-size: 25px;
  color: rgb(238,239,247);
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Basic Grey */
.basic-grey {
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    background: rgb(68,88,120);
    padding: 25px 15px 25px 10px;
    font: 12px 'Raleway', Helvetica, Times, serif;
    color: rgb(238,239,247);
}
.basic-grey h1 {
    font-size: 25px;
    text-align: center;
    padding: 0px 0px 10px 0px;
    display: block;
    margin: -10px -15px 30px -10px;;
    color: rgb(238,239,247);
}
.basic-grey h1>span {
    display: block;
    font-size: 11px;
}
.basic-grey label {
    display: block;
    margin: 0px;
}
.basic-grey label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: rgb(238,239,247);
}
.basic-grey input[type="text"], .basic-grey input[type="email"], .basic-grey textarea, .basic-grey select {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
.basic-grey textarea{
    padding: 5px 3px 3px 5px;
}
.basic-grey select {
    background: #FFF url('down-arrow.png') no-repeat right;
    background: #FFF url('down-arrow.png') no-repeat right);
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    line-height: 25px;
}
.basic-grey textarea{
    height:100px;
}
.basic-grey .button {
    background: rgb(220,53,34);
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    border-radius: 3px;
    cursor: pointer;
}
.basic-grey .button:hover {
    background: #CF7A7A;
}

</style>
</head>